@import url(mediaQuery.css);
/*중앙컨텐츠*/
/*기본설정*/
#contWrap{width:100%; height:auto;}
#contWrap::after{content:""; clear:both; display:block;}
/*기본설정*/

/*메인 타이틀*/
#contWrap>#main_title{width:100%; padding:5% 0; text-align:center; font-family: 'Bree Serif', serif; font-size:2.1rem; color:#651d32;}
#contWrap>#main_title>span{ font-family: 'Nanum Gothic', sans-serif; font-size:1.8rem; margin-left:0.5%;}
/*메인 타이틀*/

/*중앙컨텐츠*/


#founded_section01{width:80%; margin:0 auto; position:relative;}
#founded_section01::after{content:""; clear:both; display:block;}
#founded_section01>dl{width:23.33333333333333%; float:left;}
#founded_section01>dl>dt{width:100%; padding:47% 0; border-radius:50%; border:0.6rem solid #A31D21; transition: all 0.5s; position:relative; }

#founded_section01>dl>#founded_img01{background:#A41D21 url(../images/step01.png) no-repeat center/100%;}
#founded_section01>dl>#founded_img01:hover{background-size:0%;}
#founded_section01>dl>#founded_img02{background:#A41D21 url(../images/step02.png) no-repeat center/100%;}
#founded_section01>dl>#founded_img02:hover{background-size:0%;}
#founded_section01>dl>#founded_img03{background:#A41D21 url(../images/step03.png) no-repeat center/100%;}
#founded_section01>dl>#founded_img03:hover{background-size:0%;}


#founded_section01>dl>#founded_img01::after{content:"창업의뢰"; clear:both; display:block; text-align:center; position:absolute; width:100%; font:0rem 'Nanum Gothic', sans-serif; height:100%;top:0; left:0; color:#fff; transition:all 0.5s; opacity:0; margin-top:45%;}
#founded_section01>dl>#founded_img01:hover::after{font-size:2.5rem; opacity: 1;}

#founded_section01>dl>#founded_img02::after{content:"시장조사"; clear:both; display:block; text-align:center; position:absolute; width:100%; font:0rem 'Nanum Gothic', sans-serif; height:100%;top:0; left:0; color:#fff; transition:all 0.5s; opacity:0; margin-top:45%;}
#founded_section01>dl>#founded_img02:hover::after{font-size:2.5rem; opacity: 1;}

#founded_section01>dl>#founded_img03::after{content:"창업승인"; clear:both; display:block; text-align:center; position:absolute; width:100%; font:0rem 'Nanum Gothic', sans-serif; height:100%;top:0; left:0; color:#fff; transition:all 0.5s; opacity:0; margin-top:45%;}
#founded_section01>dl>#founded_img03:hover::after{font-size:2.5rem; opacity: 1;}

section>dl>dd{width:100%; text-align:center; color:#666; padding: 2% 0;}
section>dl>.founded_dd01{ font: 1.4rem 'Squada One', cursive; color:#651d32; padding:4% 0 2%;}
section>dl>.founded_dd02{ font: 2.5em 'Nanum Gothic', sans-serif;}
section>dl>.founded_dd03{ font: 1rem 'Nanum Gothic', sans-serif; margin-bottom:20%;}
section>dl>.founded_text01{font-size:1.8rem;}
section>dl>.founded_text02{font-size:2.3rem;}


#founded_section01>.arrow01{width:15%; background:url(../images/arrow01.png) no-repeat center/50%; padding:11.7% 0;  float:left;}
#founded_section01>.arrow03{width:15%; background:url(../images/arrow03.png) no-repeat center/45%; padding:11.7% 0; position:absolute; bottom:-10%; right:-14%;}

#founded_set02{width:80%; padding: 0; margin:0 auto;}
#founded_section02{width:38.33333333333333%;float:left;}
#founded_section02>#founded06{width:60.8%;float:left;}
#founded_section02>dl>dt{width:100%; padding:134.9% 0; border-radius:3rem; border:0.6rem solid #A31D21; transition: all 0.5s; }
#founded_section02>dl>#founded_img06{background:#A41D21 url(../images/step06.png) no-repeat center/115%; position:relative;}
#founded_section02>dl>#founded_img06:hover{background-size:0;}

#founded_section02>dl>#founded_img06::after{content:"가맹점주교육/\A인테리어 시공 및 계약"; clear:both; display:block; text-align:center; position:absolute; width:100%; font:0rem 'Nanum Gothic', sans-serif; height:100%;top:0; left:0;color:#fff; transition:all 0.5s; opacity:0; margin-top:140%;white-space: pre; }
#founded_section02>dl>#founded_img06:hover::after{font-size:1.5rem; opacity: 1;}


#founded_section02>div{width: 39.2%;}
#founded_section02>.arrow02{background:url(../images/arrow02.png) no-repeat center 30%/50%; padding:42% 0;  float:right;}
#founded_section02>.arrow01{background:url(../images/arrow01.png) no-repeat center 70%/50%; padding:42% 0;  float:right;}




#founded_section03{width:61.66666666666667%;float:right;}
#founded_section03>dl{width:38%; float:left;}
#founded_section03>dl>dt{width:100%; padding:47% 0; border-radius:50%; border:0.6rem solid #A31D21; transition: all 0.5s;position:relative; }

#founded_section03>dl>#founded_img05{background:#A41D21 url(../images/step05.png) no-repeat center/100%; }
#founded_section03>dl>#founded_img05:hover{background-size:0;}
#founded_section03>dl>#founded_img04{background:#A41D21 url(../images/step04.png) no-repeat center/100%;}
#founded_section03>dl>#founded_img04:hover{background-size:0;}
#founded_section03>dl>#founded_img07{background:#A41D21 url(../images/step07.png) no-repeat center/100%;}
#founded_section03>dl>#founded_img07:hover{background-size:0;}
#founded_section03>dl>#founded_img08{background:#A41D21 url(../images/step08.png) no-repeat center/100%;}
#founded_section03>dl>#founded_img08:hover{background-size:0;}


#founded_section03>dl>#founded_img05::after{content:"가맹계약"; clear:both; display:block; text-align:center; position:absolute; width:100%; font:0rem 'Nanum Gothic', sans-serif; height:100%;top:0; left:0; color:#fff; transition:all 0.5s; opacity:0; margin-top:45%;}
#founded_section03>dl>#founded_img05:hover::after{font-size:2.5rem; opacity: 1;}

#founded_section03>dl>#founded_img04::after{content:"점포계약"; clear:both; display:block; text-align:center; position:absolute; width:100%; font:0rem 'Nanum Gothic', sans-serif; height:100%;top:0; left:0; color:#fff; transition:all 0.5s; opacity:0; margin-top:45%;}
#founded_section03>dl>#founded_img04:hover::after{font-size:2.5rem; opacity: 1;}

#founded_section03>dl>#founded_img07::after{content:"개점준비 및 교육"; clear:both; display:block; text-align:center; position:absolute; width:100%; font:0rem 'Nanum Gothic', sans-serif; height:100%;top:0; left:0; color:#fff; transition:all 0.5s; opacity:0; margin-top:45%;}
#founded_section03>dl>#founded_img07:hover::after{font-size:2rem; opacity: 1;}

#founded_section03>dl>#founded_img08::after{content:"OPEN"; clear:both; display:block; text-align:center; position:absolute; width:100%; font:0rem 'Nanum Gothic', sans-serif; height:100%;top:0; left:0; color:#fff; transition:all 0.5s; opacity:0; margin-top:40%;}
#founded_section03>dl>#founded_img08:hover::after{font-size:3rem; opacity: 1;}


#founded_section03>.arrow01{width:24%; background:url(../images/arrow01.png) no-repeat center/50%; padding:19.2% 0;  float:left;}
#founded_section03>.arrow02{width:24%; background:url(../images/arrow02.png) no-repeat center/50%; padding:19.2% 0;  float:left;}



#founded_set02::after{content:""; clear:both; display:block;}
#founded_section01::after{content:""; clear:both; display:block;}
#founded_section02::after{content:""; clear:both; display:block;}
#founded_section03::after{content:""; clear:both; display:block;}







@media screen and (min-width: 321px) and (max-width: 999px){
/*메인 타이틀*/
	#contWrap{  height:auto; margin-bottom:20%;}

   #contWrap>#main_title{width:100%; padding:4% 0; text-align:center; font-family: 'Bree Serif', serif; font-size:5rem; color:#651d32; margin-bottom:7%;}
   #contWrap>#main_title>span{font-family: 'Nanum Gothic', sans-serif; font-size:4.5rem; margin-left:0.5%;}
   /*메인 타이틀*/



	#founded_section01{width:80%; margin:0 auto; position:relative; }
#founded_section01::after{content:""; clear:both; display:block;}
#founded_section01>dl{width:60%; float:none;margin:0 auto; }
#founded_section01>#founded02{width:45%;float:left; margin-top:30%;}
#founded_section01>#founded03{width:45%; float:right;margin-top:30%;}


#founded_section01>dl>dt{width:100%; padding:47% 0; border-radius:50%; border:0.6rem solid #A31D21; transition: all 0.5s; position:relative; }


#founded_section01>dl>#founded_img01::after{content:"창업의뢰"; clear:both; display:block; text-align:center; position:absolute; width:100%; font:0rem 'Nanum Gothic', sans-serif; height:100%;top:0; left:0; color:#fff; transition:all 0.5s; opacity:0; margin-top:45%;}
#founded_section01>dl>#founded_img01:hover::after{font-size:5rem; opacity: 1;}

#founded_section01>dl>#founded_img02::after{content:"시장조사"; clear:both; display:block; text-align:center; position:absolute; width:100%; font:0rem 'Nanum Gothic', sans-serif; height:100%;top:0; left:0; color:#fff; transition:all 0.5s; opacity:0; margin-top:45%;}
#founded_section01>dl>#founded_img02:hover::after{font-size:5rem; opacity: 1;}

#founded_section01>dl>#founded_img03::after{content:"창업승인"; clear:both; display:block; text-align:center; position:absolute; width:100%; font:0rem 'Nanum Gothic', sans-serif; height:100%;top:0; left:0; color:#fff; transition:all 0.5s; opacity:0; margin-top:45%;}
#founded_section01>dl>#founded_img03:hover::after{font-size:5rem; opacity: 1;}

section>dl>dd{width:100%; text-align:center; color:#666; padding: 2% 0;}
section>dl>.founded_dd01{ font: 3.5rem 'Squada One', cursive; color:#651d32; padding:4% 0 2%;}
section>dl>.founded_dd02{ font: 5em 'Nanum Gothic', sans-serif;}
section>dl>.founded_dd03{ font: 3rem 'Nanum Gothic', sans-serif; margin-bottom:0;}
section>dl>.founded_text01{font-size:3rem;}
section>dl>.founded_text02{font-size:4rem;}
section>dl>.founded_text03{margin-top:1%; font-size:3.5rem;}
section>dl>.founded_text03>span{display:block;font-size:3rem;margin-top:1%;}
#founded_section01>.arrow01{width:30%; background:url(../images/arrow01.png) no-repeat center/50%; padding:11.7% 0;  float:none; transform:translateX(-50%) rotate(90deg); position:absolute; top:47%; left:50%;}
#founded_section01>.arrow03{display:none;}


#founded_section01>.arrow01_2{top:100%;}


/*6번 */


#founded_set02{width:80%; padding: 0; margin:0 auto;}
#founded_section02{width:100%;float:left;}
#founded_section02>#founded06{width:40%;float:none; position:absolute;left:50%;transform:translateX(-50%); top:173%;}
#founded_section02>dl>dt{width:100%; padding:134.9% 0; border-radius:3rem; border:0.6rem solid #A31D21; transition: all 0.5s; }
#founded_section02>dl>#founded_img06{background:#A41D21 url(../images/step06.png) no-repeat center/115%; position:relative;}
#founded_section02>dl>#founded_img06:hover{background-size:0;}

#founded_section02>dl>#founded_img06::after{content:"가맹점주교육/\A인테리어 시공 및 계약"; clear:both; display:block; text-align:center; position:absolute; width:100%; font:0rem 'Nanum Gothic', sans-serif; height:100%;top:0; left:0;color:#fff; transition:all 0.5s; opacity:0; margin-top:140%;white-space: pre; }
#founded_section02>dl>#founded_img06:hover::after{font-size:3rem; opacity: 1;}


#founded_section02>div{width: 39.2%;}
#founded_section02>.arrow02{background:url(../images/arrow01.png) no-repeat center center/30%; padding:11.9% 0;  float:right; transform:translateX(-50%) rotate(90deg); position:absolute; top:158%; left:50%; }
#founded_section02>.arrow01{background:url(../images/arrow01.png) no-repeat center 70%/50%; padding:42% 0;  float:right; display:none;}






#founded_section03{width:100%;float:none; }
#founded_section03>dl{width:45%; float:none;}
#founded_section03>dl>dt{width:100%; padding:47% 0; border-radius:50%; border:0.6rem solid #A31D21; transition: all 0.5s;position:relative; }

#founded_section03>#founded04{float:left;margin-top:25%;}
#founded_section03>#founded05{float:right;margin-top:25%;}
#founded_section03>#founded07{float:left;margin-top:250%; margin-left:25%; width:50%;}
#founded_section03>#founded08{float:right;margin-top:35%;margin-right:15%; width:70%;}

#founded_section03>dl>#founded_img05{background:#A41D21 url(../images/step05.png) no-repeat center/100%; }
#founded_section03>dl>#founded_img05:hover{background-size:0;}
#founded_section03>dl>#founded_img04{background:#A41D21 url(../images/step04.png) no-repeat center/100%;}
#founded_section03>dl>#founded_img04:hover{background-size:0;}
#founded_section03>dl>#founded_img07{background:#A41D21 url(../images/step07.png) no-repeat center/100%;}
#founded_section03>dl>#founded_img07:hover{background-size:0;}
#founded_section03>dl>#founded_img08{background:#A41D21 url(../images/step08.png) no-repeat center/100%;}
#founded_section03>dl>#founded_img08:hover{background-size:0;}


#founded_section03>dl>#founded_img05::after{content:"가맹계약"; clear:both; display:block; text-align:center; position:absolute; width:100%; font:0rem 'Nanum Gothic', sans-serif; height:100%;top:0; left:0; color:#fff; transition:all 0.5s; opacity:0; margin-top:45%;}
#founded_section03>dl>#founded_img05:hover::after{font-size:5rem; opacity: 1;}

#founded_section03>dl>#founded_img04::after{content:"점포계약"; clear:both; display:block; text-align:center; position:absolute; width:100%; font:0rem 'Nanum Gothic', sans-serif; height:100%;top:0; left:0; color:#fff; transition:all 0.5s; opacity:0; margin-top:45%;}
#founded_section03>dl>#founded_img04:hover::after{font-size:5rem; opacity: 1;}

#founded_section03>dl>#founded_img07::after{content:"개점준비 및 교육"; clear:both; display:block; text-align:center; position:absolute; width:100%; font:0rem 'Nanum Gothic', sans-serif; height:100%;top:0; left:0; color:#fff; transition:all 0.5s; opacity:0; margin-top:45%;}
#founded_section03>dl>#founded_img07:hover::after{font-size:4.5rem; opacity: 1;}

#founded_section03>dl>#founded_img08::after{content:"OPEN"; clear:both; display:block; text-align:center; position:absolute; width:100%; font:0rem 'Nanum Gothic', sans-serif; height:100%;top:0; left:0; color:#fff; transition:all 0.5s; opacity:0; margin-top:40%;}
#founded_section03>dl>#founded_img08:hover::after{font-size:10rem; opacity: 1;}


#founded_section03>.arrow01{width:24%; background:url(../images/arrow01.png) no-repeat center/50%; padding:19.2% 0;  float:none;transform:translateX(-50%) rotate(90deg); position:absolute; top:303%; left:50%; }
#founded_section03>.arrow02{width:24%; background:url(../images/arrow01.png) no-repeat center/50%; padding:19.2% 0;  float:none;transform:translateX(-50%) rotate(90deg); position:absolute; top:252%; left:50%; }



#founded_set02::after{content:""; clear:both; display:block;}
#founded_section01::after{content:""; clear:both; display:block;}
#founded_section02::after{content:""; clear:both; display:block;}
#founded_section03::after{content:""; clear:both; display:block;}

}
@media screen and (max-width: 320px){


}

